/* General */

img {
    width: 500px;
    object-fit: contain;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1040px;
    margin: 0 auto;
}

/* Utilities */

.thumbnails-photo .active {
    display: block;
}

.card {
    background-color: aliceblue;
    border-radius: 30px;
    height: 750px;
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* Carosello */

.container-carousel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    position: relative;
}

.carousel-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.fa-solid {
    cursor: pointer;
    font-size: 2rem;
}


/* Images */

.images {
    position: relative;
}

.photo-text {
    color: white;
    position: absolute;
    bottom: 20px;
    padding: 0 10px;
    text-align: right;
}


/* Thumbnails */

.container-thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.thumbnails-photo {
    display: flex;
    justify-content: center;
}

.thumbnails-photo img {
    display: block;
    width: 35%;
    opacity: 0.5;
}

.thumbnails-photo .focus {
    scale: 1.1;
    box-shadow: 2px 2px gray;
    opacity: 1;
}

.thumbnails-photo-md {
    display: none;
}